<html>
	<head>
		<meta charset="UTF-8">
		<title>Fashion website background management</title>
	</head>
	<style type="text/css">
		body {

			background-size: 100%;
		}
		.wrapper {
			width: 1000px;
			margin: 20px auto;
		}
		h1 {
			text-align: center;
		}
		.add {
			margin-bottom: 20px;
		}
		.add a {
			text-decoration: none;
			color: #fff;
			background-color: #00CCFF;
			padding: 6px;
			border-radius: 5px;
		}
		td {
			text-align: center;
		}
	</style>
	<body>
		<header> <img src="img/logo.png" ></header>
		<div class="wrapper">
			<h1>学生信息管理系统</h1>
			<div class="add">
				<a href="addStudent.html">添加学生</a>&nbsp;&nbsp;&nbsp;共
				<?php echo $num; ?>个学生&nbsp;&nbsp;&nbsp;
				<a href="searchStudent.html">查找学生</a>
			</div>
			<table width="960" border="1">
				<tr>
					<th>username</th>
					<th>password</th>
					<th>address</th>
					<th>email</th>
					<th>status</th>

				</tr>

			</table>
		</div>

		<script type="text/javascript">
			function del(id) {
				if (confirm("确定删除这个学生吗？")) {
					window.location = "action_del.php?id=" + id;
				}
			}
		</script>
	</body>
</html>

